.wrapper{
    z-index: 1221;
    opacity: .6;
    position: absolute;
    top: -5rem;
}

ul.rays {
    position: absolute;
    left: -10em;
    right: -10em;
    top: -100%;
    bottom: -90px;
    margin: auto;
    padding: 0;
    width: 0;
    height: 0;
    list-style: none;
    opacity: 0.08;
    filter: blur(6px);
  }
  
  ul.rays.left {
    -webkit-animation: 30s rotate-l infinite linear;
            animation: 30s rotate-l infinite linear;
  }
  
  ul.rays.right {
    -webkit-animation: 20s rotate-r infinite linear;
            animation: 20s rotate-r infinite linear;
  }
  
  .rays > li,
  .rays > li:before,
  .rays > li:after {
    position: absolute;
    border: 0 solid transparent;
    border-width: 1.2em 20em;
    border-color: transparent rgba(106, 32, 243, 0.699);
    width: 0;
    height: 0;
    font-size: 60px;
  }
  
  .rays > li {
    left: -20em;
    top: 40%;
    margin-top: -1.2em;
    transform: rotate(0.1deg);
  }
  
  .rays > li:before,
  .rays > li:after {
    left: -20em;
    top: -1.2em;
    display: block;
    content: "";
  }
  
  .rays > li:before {
    transform: rotate(60deg);
  }
  
  .rays > li:after {
    transform: rotate(-60deg);
  }
  
  .rays > li:nth-child(2) {
    transform: rotate(12deg);
  }
  
  .rays > li:nth-child(2),
  .rays > li:nth-child(2):before,
  .rays > li:nth-child(2):after {
    border-color: transparent rgba(74, 28, 160, 0.699);
  }
  
  .rays > li:nth-child(3) {
    transform: rotate(37deg);
  }
  
  .rays > li:nth-child(3),
  .rays > li:nth-child(3):before,
  LI:nth-child(3):after {
    border-color: transparent rgba(75, 5, 206, 0.473);
  }
  
  .rays > li:nth-child(4) {
    transform: rotate(55deg);
  }
  
  .rays > li:nth-child(4),
  .rays > li:nth-child(4):before,
  .rays > li:nth-child(4):after {
    border-color: transparent rgba(55, 15, 129, 0.226);
  }
  
  @-webkit-keyframes rotate-l {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-l {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate-r {
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes rotate-r {
    100% {
      transform: rotate(-360deg);
    }
  }
  .rays:before {
    background: conic-gradient(rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.69), rgba(87, 199, 255, 0.01), rgba(230, 247, 255, 0.22), rgba(240, 250, 255, 0.11), rgba(255, 255, 255, 0.53), rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.73), rgba(255, 255, 255, 0.77), rgba(133, 214, 255, 0.35), rgba(148, 219, 255, 0.99), rgba(255, 255, 255, 0.7), rgba(250, 253, 255, 0.66), rgba(240, 250, 255, 0.07), rgba(255, 255, 255, 0.49), rgba(26, 179, 255, 0.39), rgba(230, 247, 255, 0.57), rgba(255, 255, 255, 0.27), rgba(82, 197, 255, 0.73), white, rgba(51, 187, 255, 0.53), rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.69), rgba(87, 199, 255, 0.01), rgba(230, 247, 255, 0.22), rgba(240, 250, 255, 0.11), rgba(255, 255, 255, 0.53), rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.73), rgba(255, 255, 255, 0.77), rgba(133, 214, 255, 0.35), rgba(148, 219, 255, 0.99), rgba(255, 255, 255, 0.7), rgba(250, 253, 255, 0.66), rgba(240, 250, 255, 0.07), rgba(255, 255, 255, 0.49), rgba(26, 179, 255, 0.39), rgba(230, 247, 255, 0.57), rgba(255, 255, 255, 0.27), rgba(82, 197, 255, 0.73), white);
  }
  
  .rays:after {
    background: conic-gradient(rgba(255, 255, 255, 0.11), rgba(10, 173, 255, 0.91), rgba(255, 255, 255, 0.41), rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.52), rgba(245, 252, 255, 0.38), rgba(204, 238, 255, 0.04), rgba(56, 189, 255, 0.61), rgba(128, 213, 255, 0.74), rgba(255, 255, 255, 0.92), rgba(214, 241, 255, 0.29), rgba(41, 184, 255, 0.9), rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.29), rgba(199, 236, 255, 0.48), rgba(138, 216, 255, 0.41), rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.09), rgba(5, 172, 255, 0.95), rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.91), rgba(255, 255, 255, 0.11), rgba(10, 173, 255, 0.91), rgba(255, 255, 255, 0.41), rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.52), rgba(245, 252, 255, 0.38), rgba(204, 238, 255, 0.04), rgba(56, 189, 255, 0.61), rgba(128, 213, 255, 0.74), rgba(255, 255, 255, 0.92), rgba(214, 241, 255, 0.29), rgba(41, 184, 255, 0.9), rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.29), rgba(199, 236, 255, 0.48), rgba(138, 216, 255, 0.41), rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.09), rgba(5, 172, 255, 0.95), rgba(255, 255, 255, 0.49));
    -webkit-animation-duration: 3.6s;
            animation-duration: 3.6s;
    animation-direction: reverse;
  }
  
  @-webkit-keyframes rot {
    to {
      transform: rotate(1turn);
    }
  }
  
  @keyframes rot {
    to {
      transform: rotate(1turn);
    }
  }