.loader2 {
    color: #ffffffcc;
    display: inline-block;
    position: relative;
    font-size: 2rem;
    box-sizing: border-box;
  }
  
  .loader2::after {
    content: '';  
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    bottom: 10px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
      color: #ffffff;
    }
    100% {
      box-shadow: 10px 0 white, 20px 0 white;
    }
  }