.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -1rem;
  left: 1rem;
  cursor: pointer;
  width: 10rem;
  height: 8rem;
  cursor: pointer;
  z-index: 999999;
  transition: all 1s ease;
  user-select: none;
}

@media screen and (max-width:500px) 
{
  .loader {
    top: -1rem;
    left: -1rem;

  }
}

.loader:hover {
  filter: drop-shadow(0 0 1px rgba(218, 240, 255, 0.774));
  transition: all 1s ease;
}


#wave {
  height: 50px;
  width: 50px;
  fill: #fff;
  transition: all 1s ease-in-out;

}

#Line_1 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#Line_2 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#Line_3 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

#Line_4 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#Line_5 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

#Line_6 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#Line_7 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

#Line_8 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#Line_9 {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

@-webkit-keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

#visual{
    height: .2rem;
    width: 3rem;
    stroke: white;
    stroke-width: 4rem;
    bottom: 4rem;
    position: absolute;
    stroke-linecap:round;
    fill: none;
    transition: width .7s ease;
}